/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

  


/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
  color: rgb(152,173,166);
  padding-bottom: 0%;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 5em;
  font-family: 'Libre Baskerville', serif;
  border-bottom: 1px solid #ccc;

}

.necklace { 
  border: 5px solid rgb(152,173,166);
}

h2 {
  color: rgb(111,127,122);
  padding-bottom: 0;
  font-size: 2em;
  margin: 0 0 5px;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;

}

h3 {
  color: rgb(111,127,122);
  padding-bottom: 0;
  font-size: 2em;
  margin: 0 0 5px;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
  
}

.p {
  text-align: left;
  position: fixed;
  color: black;

  
}

.ads {
  display: inline-block;
  border: 5px solid rgb(152,173,166);
 
}

.rights { 
  font-size: 10px;
  float: right;
}

